.background-color-1  { background-color: #F99900; }
.background-color-2  { background-color: #F94F21; }
.background-color-3  { background-color: #036D35; }
.background-color-4  { background-color: #1B9B5B; }
.background-color-5  { background-color: #00A99D; }
.background-color-6  { background-color: #0071BC; }
.background-color-7  { background-color: #2C2999; }
.background-color-8  { background-color: #9E005D; }
.background-color-9  { background-color: #ED1E79; }
.background-color-10 { background-color: #FF7E77; }

.color-1  { color: #F99900; }
.color-2  { color: #F94F21; }
.color-3  { color: #036D35; }
.color-4  { color: #1B9B5B; }
.color-5  { color: #00A99D; }
.color-6  { color: #0071BC; }
.color-7  { color: #2C2999; }
.color-8  { color: #9E005D; }
.color-9  { color: #ED1E79; }
.color-10 { color: #FF7E77; }

.border-color-1  { border-color: #F99900; }
.border-color-2  { border-color: #F94F21; }
.border-color-3  { border-color: #036D35; }
.border-color-4  { border-color: #1B9B5B; }
.border-color-5  { border-color: #00A99D; }
.border-color-6  { border-color: #0071BC; }
.border-color-7  { border-color: #2C2999; }
.border-color-8  { border-color: #9E005D; }
.border-color-9  { border-color: #ED1E79; }
.border-color-10 { border-color: #FF7E77; }

.underline-color-1  { box-shadow: inset 0 -6px 0 #F99900; }
.underline-color-2  { box-shadow: inset 0 -6px 0 #F94F21; }
.underline-color-3  { box-shadow: inset 0 -6px 0 #036D35; }
.underline-color-4  { box-shadow: inset 0 -6px 0 #1B9B5B; }
.underline-color-5  { box-shadow: inset 0 -6px 0 #00A99D; }
.underline-color-6  { box-shadow: inset 0 -6px 0 #0071BC; }
.underline-color-7  { box-shadow: inset 0 -6px 0 #2C2999; }
.underline-color-8  { box-shadow: inset 0 -6px 0 #9E005D; }
.underline-color-9  { box-shadow: inset 0 -6px 0 #ED1E79; }
.underline-color-10 { box-shadow: inset 0 -6px 0 #FF7E77; }
